@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display:700|Playfair+Display:900");
/* html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  
} */
body{
  -webkit-overflow-scrolling:touch;
}
#root-loading{
  display: none;
}
.App{
  height: 100%;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  margin-left: calc(50% - 64px);
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  /* background: #1A237E; */

  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.light-theme-app .lds-ellipsis div{
  background: #1A237E;
} 
.dark-theme-app .lds-ellipsis div{
  background: #448AFF;
} 


.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.4s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.4s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.4s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.4s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

iframe{
  border:0;
}
.top-box {
  font-size: 40px;
  width: 100%;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  font-family: "Playfair Display", serif;
  padding: 140px 0;
}
.light-theme-app{
  background-color: #ECEFF1;
}
.dark-theme-app{
  background-color: #212121;
}
.light-theme-app .top-box{
  background-color: #ECEFF1;
  color: #212121;
}
.dark-theme-app .top-box{
  background-color: #212121;
  color: #FAFAFA;
}
.navigation {
  
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  overflow-y: scroll;
  white-space: nowrap;
  z-index: 9;
}
.light-theme-app .navigation{
  background-color: #fafafa;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
.dark-theme-app .navigation{
  background-color: #161616;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
.navigation-element {
  display: inline-block;
  
  font-size: 18px;
  font-family: "Playfair Display", serif;
  padding: 3px 9px;
  margin: 1px;
}
.light-theme-app .navigation-element{
  color: #37474f;
}
.dark-theme-app .navigation-element{
  color: #fafafa;
}

.nav-active {
  font-weight: 700;
  font-size: 19px;
  
}
.light-theme-app .nav-active{
  color: #1a237e;
}
.dark-theme-app .nav-active{
  color: #2962FF;
  color: #448AFF
}

.single-box,
.match-box,
.video-box {
  width: 94%;
  max-width: 444px;
  margin: 8px auto;
  border: 0;
}

.single-box, .video-box{
  height: 333px;
  overflow: scroll;
  word-break: break-word;
}
.single-box {
  border-radius: 0px;
  /* display: flex;
  flex-direction: column-reverse; */
}
.full {
  height: 333px;
}
.title{
  height: 80px;
}
.tite-desc {
  height: 110px;
}

.title-image {
  height: 280px;
}

.light-theme-app .single-box, .light-theme-app .video-box{
  background-color: white;
  border-bottom: 1px solid #283593
}
.dark-theme-app .single-box,.dark-theme-app .video-box{
  background-color: #263238;
  border-bottom: 1px solid #607D8B;
}
.youtube-thumbnail-div{
  width: 100%;
  position: relative;
}

.thumbnail-pic{
width: 100%;

}

.play-icon{
  width: 70px;
  height: 70px;
  position: absolute; 
   z-index: 2;
  left: 50%;
  margin-left: -35px; 
  top: 50%;
  margin-top: -35px;
  
}

.match-box {
  /* margin: 11px auto; */
  padding-bottom: 0px;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;
  white-space: nowrap;
  scroll-snap-type: mandatory;
  scroll-snap-type: x mandatory;
}
.light-theme-app .match-box{
  background-color: inherit;
  border-bottom: 1px solid #1A237E;
}
.dark-theme-app .match-box{
  background-color: inherit;
  border-bottom: 1px solid #78909C;
}
.match-box > .single-box,
.match-box > .video-box {
  display: inline-block;
  margin: 0 9px 0px 0px;
  width: 90%;
  /* try overflow-x: none*/
  max-width: 432px;
  scroll-snap-align: start;
}

.match-box::-webkit-scrollbar,
.navigation::-webkit-scrollbar,
.video-box::-webkit-scrollbar,
.single-box::-webkit-scrollbar {
  display: none;
}
.picture-box {
  width: 100%;
}
.iframe-container{
  height: 0;
  padding-top: 56%;
  width: 100%;
  z-index:0;
  position: relative;
  /* overflow: hidden; */
}
.youtube-iframe {
  height: 100%;
  width: 100%;
  top:0;
  position: absolute;
  /* margin-top: -100%; */
  left: 0;
}
.word-image {
  width: 100%;

  /* object-fit: contain; */
}
.word-source,
.word-time {
  display: inline-block;
  /* border: 1px solid cyan; */
}

.word-time {
  float: right;
}
.word-title {
  font-size: 17px;
  padding: 0 4px;
  font-family: "Playfair Display", serif;
  white-space: normal;
}
.light-theme-app .word-title{
  color: #212121;
}
.dark-theme-app .word-title{
  color: white;
}
.word-description{
  font-size: 15px;
  padding: 4px 4px 0 4px;
  line-height: 1.2;
  white-space: normal;
}
.light-theme-app  .word-description {
  color: #424252;
}
.dark-theme-app  .word-description {
  color: #EEEEEE;
  color: #E0E0E0;
  /* color:blue; */
}

.row-two {
  font-size: 10px;
  padding: 4px 5px 0 5px;
  /* border: 1px solid black; */
}
.light-theme-app .row-two{
 color: #616161; 
}
.dark-theme-app .row-two{
  color: #ECEFF1;
}
/* .row-three {
  padding: 0 4px 4px 4px;
  white-space: normal;
} */


