@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto|Roboto:500|Poppins:500|Playfair+Display|Playfair+Display:700|Playfair+Display:900");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #eceff1;
}
.top-box {
  font-size: 40px;
  width: 100%;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  font-family: "Playfair Display", serif;
  padding: 140px 0;
}
.navigation {
  background-color: #fafafa;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  overflow-y: scroll;
  white-space: nowrap;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
}
.navigation-element {
  display: inline-block;
  color: #37474f;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  padding: 3px 9px;
  margin: 1px;
}

.nav-active {
  font-weight: 700;
  font-size: 19px;
  color: #1a237e;
}
/*Setting*/
.OP-button {
  display: inline-block;
  border: 1px solid red;
  margin: 0 4px;
}

/*End Settings*/

.single-box,
.match-box,
.video-box {
  width: 94%;
  max-width: 444px;
  /*border-bottom: 1px solid gray;*/
  /* border: 1px solid black; */
  margin: 2px auto;
}

.single-box {
  border-radius: 0px;
  height: 333px;
  background-color: white;
  overflow: scroll;

  border-bottom: 1px solid black;
  /* display: flex;
  flex-direction: column-reverse; */
}
.match-box {
  background-color: #f5f5f5;
  background-color: #eeeeee;
  margin: 4px auto;
  padding-bottom: 0px;
  border-bottom: 1px solid black;
  overflow-y: scroll;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  
}

.match-box > .single-box,
.match-box > .video-box {
  display: inline-block;
  margin: 0 4px 1px 4px;
  width: 90%;
  max-width: 432px;
  scroll-snap-align: start;
}

.match-box::-webkit-scrollbar,
.row-three::-webkit-scrollbar,
.single-box::-webkit-scrollbar {
  display: none;
}
.picture-box {
  width: 100%;
  
  /* border: 1px solid red; */
  /* overflow-x: scroll;
  white-space: nowrap; */
}
.video-box {
  padding: 4px;
}
.youtube-iframe {
  width: 100%;
}
.word-image {
  width: 100%;
  
  /* object-fit: contain; */
}
.word-source,
.word-time {
  display: inline-block;
  /* border: 1px solid cyan; */
}

.word-time {
  float: right;
}
.word-title {
  font-size: 17px;
  font-family: "Playfair Display", serif;
  white-space: normal;
}
.word-description{
  font-size: 15px;
  padding-top: 3px;
  color: #424252;
  line-height: 1.2;

}
.row-two {
  font-size: 10px;
  padding: 4px 5px 0 5px;
  /* border: 1px solid black; */
}
.row-three {
  padding: 0 4px 4px 4px;
  
  white-space: normal;
}


